<body>
    <div id="container">
        <div id="header">
            <nav>
                <h1 class="brand"><a href="/">Bazinga</a></h1>
                <ul>
                    <li>Welcome, User</li>
                    <!-- <li><a href="">Products</a></li>
                    <li><a href="">Book Table</a></li> -->
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/feedback">Feedback</a></li>
                    <li><a href="/adminlogin">Admin Login</a></li>

                    <!-- <li><a href="/login">LogIn</a></li>
                    <li><a href="/signup" class="btn">Signup</a></li> -->
                </ul>
            </nav>
        </div>